body{
  background-color: rgb(243, 249, 255);
}
/* Styling with the heading  */
.site-name {
  
}
.site-name h1{
  color: rgb(195, 119, 19);
  text-align: end;
 
}
.main-section{
  padding-top: 5%;

}
.main-heading h2{
  color: rgb(136, 76, 2);
  margin: auto;
  text-align: center;
}
.main-heading hr{
  color: rgb(189, 107, 8);
  width: 400px;
}

/* Sliding text */
.main-heading{
  width:100%;
}
h2{
  animation:slide 5s linear;
  -webkit-name:slide 5s linear; 
}
@keyframes slide{
  from{
    margin-left:100%;
  }
  to{
    margin-left:0%;
  }
}
@-webkit-keyframes slide{
  from{
    margin-left:100%; 
  }
  to{
    margin-left:0%;
  }
}



/* image styling */
.image-section img{
  width: 100.6%;
  height: 470px;
  padding-top: 7%;
}

/* Bottom Section image */
.mid-section{
  width: 100.6%;
  height: 170px;
  padding-top: 8%;
  background: linear-gradient(45deg, rgb(114, 57, 3), rgb(228, 157, 5));
}
.mid-section h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(248, 252, 255);
  text-align: center;
}
.mid-section h2 a {
  color: aliceblue;
  text-decoration: none;
}
/* Products image  */
#bottom-content{
  padding-top: 7%;
}
.Products h2{
  color: rgb(173, 104, 14);
  font-weight: 100;
  text-align: center;
}
.Product-image{
  display: flex;
  
}
.Product-image img{
  margin: auto;
  max-width: 250px;
  height: 350px;
}
#next-product{
  padding-top: 5%;
}

.button1{
  text-align: center;
}
button{
  border: none;
  position: absolute;

}
button h2{
  color: rgb(90, 76, 57);
  text-align: center;
}
button h3{
  color: rgb(19, 11, 0);
  text-align: center;
}



/* Product page html */
.first-design{
  display: flex;
}

.slide-right {
  width: 100%;
  overflow: hidden;
  margin-left: 300px;
  max-width: 500px
}

.slide-right h2 {

  animation: 2s slide-right 2s forwards;
    transform:translateX(-100%);
}

@keyframes slide-right {
  to {
    transform:translateX(0);
  }
}
.slide-right h2{
  color: rgb(221, 125, 7);
}

/* image in slide box */
.slide-right img{
  animation: 2s slide-right 2s forwards;
  transform: translateX(-100%);
}
@keyframes .slide-right{
  to{
    transform:translateX(0);
  }
}
.slide-right img{
  max-width: 250px;
  max-height: 270px;
}


/* First-product */
#first-product{
  padding:10px 5px 10px 10px;
}
.first-pro img{
  max-width: 270px;
  height: 450px;
}
/* First-product */
#second-product{
  padding:10px 5px 10px 10px;
}
.second-pro img{
  max-width: 270px;
  height: 450px;
}
/* First-product */
#thrid-product{
  padding:10px 5px 10px 10px;
}
.thrid-pro img{
  max-width: 270px;
  height: 450px;
}

/* last-product */
#last-product{
  padding:10px 5px 10px 10px;
}
.last-pro img{
  max-width: 270px;
  height: 450px;
}






/* About prodcut  */
#about{
  padding-top: 7%;
}
 iframe{
  width: 400;
  height: 170;
}
#about img{
  width: 1340px;
  height: 500px;
}
/* Last button */
.last-button{
  padding-top: 5%;
}
.button {
  background-color: #9b5506;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


